<section class="mt-4">
  <!-- Filtro por nombre -->
  <div class="row mb-4">
    <div class="col-md-6 mx-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar grupo por nombre..."
        [(ngModel)]="filterText"
        (input)="filterGroups()"
      />
    </div>
  </div>

  <!-- Grupos filtrados -->
  <div class="row mt-3">
    <div
      class="col-md-6 mb-4"
      *ngFor="let group of filteredGroups; let i = index"
      (click)="goToGroup(group.id!)"
    >
      <div class="card shadow-sm h-100 cursor-pointer">

        <!-- Logo circular más pequeño -->
        <div 
          class="mx-auto d-flex align-items-center justify-content-center mb-3 rounded-circle"
          [ngStyle]="{
            'background-color': colors[i],
            'width': '120px',
            'height': '120px',
            'font-size': '28px',
            'color': 'white',
            'margin-top': '15px'
          }"
        >
          {{ getInitials(group.name) }}
        </div>

        <div class="card-header text-center">
          <h5 class="mb-0">{{ group.name }}</h5>
        </div>

        <div class="card-body text-center">
          <p>{{ group.description }}</p>
        </div>

      </div>
    </div>
  </div>
</section>
