<section>
  <nav class="navbar custom-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/imgs/logo-blanco.png" alt="Logo" width="200" height="50" class="d-inline-block align-text-top">
      </a>

      <div class="d-flex ms-auto">
        <a class="icon-hover" href="#">
          <img src="assets/imgs/notification.svg" alt="Logo" width="30" height="50" class="d-inline-block align-text-top me-3">
        </a>

        <a class="icon-hover" href="#">
          <img src="assets/imgs/person-circle.svg" alt="Logo" width="70" height="50" class="d-inline-block align-text-top">
        </a>
      </div>
    </div>
  </nav>
</section>



