<section>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-12 mb-4">
      <div class="p-4 rounded-3 bg-light shadow-sm">
        <h4 class="mb-4">Menu</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="/groups">Groups</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="/home">News</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="#">Level 1</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link text-dark" href="#">Level 1</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
