html, body {
  height: 100%;
}

/* Efecto al hacer clic (mientras mantienes presionado) */
.nav-link:active {
  background-color: #b3e5fc !important;
  color: #0d6efd !important;
  border-radius: 4px;
}

/* Efecto hover (al pasar el mouse) */
.nav-link:hover {
  background-color: #e3f2fd !important;
  color: #0d6efd !important;
  border-radius: 4px;
  transition: all 0.3s ease;
}